h3{
    margin-top:100px ;
    overflow-wrap: break-word;
    font-size: 2em !important;
    @media (max-width:768px) {
        font-size: 1.2em;
    }
    @media (max-width:768px) {
        font-size: 1em;
    }
}
.cont{
    margin-top: 2%;
    margin-right: 2%;
    margin-left: 4%;
}
.card1 p{
    color: black;
    object-fit: fill;
    overflow-wrap: break-word;
}