*{
  margin: 0;
}

/*.component{
  top: 20px;
  display: block;
  position: absolute;
}
.component + .component{
  margin-top: 20px;
}*/
.navbar{
  margin-top: 50px;
  width: 100%;
  max-width: fit-content;
}

